Django==4.2.0
pillow==10.0.0
django-crispy-forms==2.0
crispy-bootstrap5==0.7
python-decouple==3.8

asgiref==3.11.1
crispy-bootstrap5==0.7
Django==6.0.3
django-crispy-forms==2.0
packaging==26.0
pillow==12.1.1
python-decouple==3.8
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2025.3
wheel==0.46.3
